/.idea/
.vscode/
.DS_Store
.deps/

node_modules/
.next/
out/
*.log

.env
.env.*
!.env.example

c2e-be-golang/.git-backup-before-root-repo/
c2e-be-golang/deployment/mysql/data/
c2e-be-golang/deployment/docker-env/portal-api.env
c2e-be-golang/utils/http-client.env.json

c2n-contracts/yarn.lock
